# Database Setup and Data Input through Python

In [24]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="meta_mario",password="abcd1234")

In [25]:
cursor = connection.cursor()

In [22]:
cursor.execute("CREATE DATABASE little_lemon_db")

DatabaseError: 1007 (HY000): Can't create database 'little_lemon_db'; database exists

In [38]:
cursor.execute("USE little_lemon_db")

In [46]:
#MenuItems table
create_menuitems_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [51]:
create_menu_table = """CREATE TABLE menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

# Populate Menu table
cursor.execute(create_menu_table)
# Commit the transaction
connection.commit()

In [28]:
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
Status VARCHAR(100),
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [29]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [30]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [48]:
# Populate MenuItems table
cursor.execute(create_menuitems_table)
# Commit the transaction
connection.commit()

# Populate Orders table
cursor.execute(create_orders_table)
# Commit the transaction
connection.commit()


# Populate Employees table
cursor.execute(create_employees_table)
# Commit the transaction
connection.commit()

# Create Bookings table
cursor.execute(create_booking_table)
# Commit the transaction
connection.commit()

ProgrammingError: 1050 (42S01): Table 'menuitems' already exists

In [49]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems ="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""


#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees VALUES(EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#

insert_employees = """
INSERT INTO Employees (Name, Role, Address, Contact_Number, Email, Annual_Salary) 
VALUES 
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132 Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');
"""

In [52]:
#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menus="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

cursor.execute(insert_menus)
# Commit the transaction
connection.commit()

In [53]:
cursor.execute(insert_menuitems)
# Commit the transaction
connection.commit()

cursor.execute(insert_bookings)
# Commit the transaction
connection.commit()

cursor.execute(insert_orders)
# Commit the transaction
connection.commit()

cursor.execute(insert_employees)
# Commit the transaction
connection.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'menuitems.PRIMARY'

In [54]:
from mysql.connector.pooling import MySQLConnectionPool

In [55]:
from mysql.connector import Error

In [56]:
# Define your database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a",
                                 pool_size=2,
                                 **dbconfig)
    
    print("Connection pool 'pool_a' created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection pool 'pool_a' created successfully.

In [57]:
try:
    # Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Create a cursor object
    cursor = connection.cursor()
    
    print("Connection obtained and cursor created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection obtained and cursor created successfully.

In [33]:
try:
    # SQL statement to create the stored procedure
    create_procedure_query = """
    CREATE PROCEDURE PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS booking_hour, 
               COUNT(*) AS number_of_bookings
        FROM Bookings
        GROUP BY booking_hour
        ORDER BY number_of_bookings DESC;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    
    print("Stored procedure PeakHours created successfully.")

except Error as e:
    print(f"Error: {e}")

Stored procedure PeakHours created successfully.

In [68]:
# Assuming you already have a connection and cursor

query = "SHOW PROCEDURE STATUS WHERE Db = 'little_lemon_db';"

try:
    cursor.execute(query)
    procedures = cursor.fetchall()
    
    for procedure in procedures:
        print(procedure)
except Error as e:
    print(f"Error: {e}")

In [71]:
# SQL command to create the stored procedure
create_procedure_sql = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(order_created_at) AS PeakHour, COUNT(*) AS OrderCount
    FROM Orders
    GROUP BY PeakHour
    ORDER BY OrderCount DESC;
END;
"""

# Execute the SQL command to create the stored procedure
try:
    cursor.execute(create_procedure_sql)
    print("Stored procedure PeakHours created successfully.")
except Error as e:
    print(f"Error: {e}")

Stored procedure PeakHours created successfully.

In [73]:
# Adding a new column to store order time
alter_table_sql = """
ALTER TABLE Orders ADD COLUMN OrderTime DATETIME;
"""

try:
    cursor.execute(alter_table_sql)
    print("Column 'OrderTime' added successfully.")
except Error as e:
    print(f"Error: {e}")

Column 'OrderTime' added successfully.

In [74]:
# Create stored procedure to calculate peak hours based on OrderTime
create_procedure_sql = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(OrderTime) AS PeakHour, COUNT(*) AS OrderCount
    FROM Orders
    GROUP BY PeakHour
    ORDER BY OrderCount DESC;
END;
"""

try:
    cursor.execute(create_procedure_sql)
    print("Stored procedure PeakHours created successfully.")
except Error as e:
    print(f"Error: {e}")

Error: 1304 (42000): PROCEDURE PeakHours already exists

In [75]:
# Create stored procedure using BookingTime from the Bookings table
create_procedure_sql = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(b.BookingTime) AS PeakHour, COUNT(*) AS OrderCount
    FROM Orders o
    JOIN Bookings b ON o.BookingID = b.BookingID
    GROUP BY PeakHour
    ORDER BY OrderCount DESC;
END;
"""

try:
    cursor.execute(create_procedure_sql)
    print("Stored procedure PeakHours created successfully.")
except Error as e:
    print(f"Error: {e}")

Error: 1304 (42000): PROCEDURE PeakHours already exists

In [76]:
# Call the stored procedure PeakHours
try:
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")
    
    # Fetch and print results
    dataset = cursor.stored_results()
    for result in dataset:
        for row in result.fetchall():
            print(row)
except Error as e:
    print(f"Error: {e}")

Error: 1054 (42S22): Unknown column 'order_created_at' in 'field list'

In [77]:
# Drop the existing procedure if it exists
try:
    cursor.execute("DROP PROCEDURE IF EXISTS PeakHours;")
    print("Stored procedure PeakHours dropped successfully.")
except Error as e:
    print(f"Error: {e}")

Stored procedure PeakHours dropped successfully.

In [78]:
# Fetch the results returned by the stored procedure
dataset = cursor.stored_results()

In [80]:
# Assuming we have results to extract column names
for result in dataset:
    column_names = [i[0] for i in result.description]
    break  # We only need the column names once

In [82]:
# Call the stored procedure PeakHours
try:
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")
    
    # Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()

    # Assuming we have results to extract column names
    column_names = []
    for result in dataset:
        column_names = [i[0] for i in result.description]
        break  # We only need the column names once
    
    print("Column names:", column_names)

except Error as e:
    print(f"Error: {e}")

Error: 1305 (42000): PROCEDURE little_lemon_db.PeakHours does not exist

In [81]:
print("Column names:", column_names)

NameError: name 'column_names' is not defined

In [84]:
# Iterate over the dataset to print the results
for result in dataset:
    rows = result.fetchall()
    for row in rows:
        print(row)

In [85]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 1: Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Step 2: Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Step 3: Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Step 4: Drop the existing stored procedure if it exists
    cursor.execute("DROP PROCEDURE IF EXISTS PeakHours")
    print("Existing stored procedure PeakHours dropped successfully.")
    
    # Step 5: Create the stored procedure PeakHours
    create_procedure_query = """
    CREATE PROCEDURE PeakHours()
    BEGIN
        SELECT HOUR(BookingSlot) AS booking_hour, 
               COUNT(*) AS number_of_bookings
        FROM Bookings
        GROUP BY booking_hour
        ORDER BY number_of_bookings DESC;
    END;
    """
    cursor.execute(create_procedure_query)
    print("Stored procedure PeakHours created successfully.")
    
    # Step 6: Call the stored procedure PeakHours
    cursor.callproc('PeakHours')
    print("Stored procedure PeakHours called successfully.")
    
    # Step 7: Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Step 8: Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Step 9: Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Step 10: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Existing stored procedure PeakHours dropped successfully.
Stored procedure PeakHours created successfully.
Stored procedure PeakHours called successfully.
Column names: ['booking_hour', 'number_of_bookings']

In [86]:
# Print the sorted data
for result in dataset:
    rows = result.fetchall()
    for row in rows:
        print(row)

In [54]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 1: Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Step 2: Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Step 3: Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Step 4: Create the stored procedure GuestStatus
    create_procedure_query = """
    CREATE PROCEDURE GuestStatus()
    BEGIN
        SELECT 
            CONCAT(Booking.FirstName, ' ', Booking.LastName) AS guest_name,
            CASE 
                WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
                WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
                WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
                WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
                ELSE 'Status Unknown'
            END AS order_status
        FROM 
            Bookings
        LEFT JOIN 
            Employees ON Bookings.EmployeeID = Employees.EmployeeID;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    print("Stored procedure GuestStatus created successfully.")
    
    # Step 5: Call the stored procedure GuestStatus
    cursor.callproc('GuestStatus')
    print("Stored procedure GuestStatus called successfully.")
    
    # Step 6: Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Step 7: Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Step 8: Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Step 9: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Error: 1304 (42000): PROCEDURE GuestStatus already exists
Connection closed and returned to pool.

In [55]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Database configuration
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_a' with a pool size of 2
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("Connection pool 'pool_a' created successfully.")
    
    # Obtain a connection from the pool
    connection = pool_a.get_connection()

    # Create a cursor object
    cursor = connection.cursor()
    print("Connection obtained and cursor created successfully.")
    
    # Drop the existing stored procedure if it exists
    cursor.execute("DROP PROCEDURE IF EXISTS GuestStatus")
    print("Existing stored procedure GuestStatus dropped successfully.")
    
    # Create the stored procedure GuestStatus with corrected column names
    create_procedure_query = """
    CREATE PROCEDURE GuestStatus()
    BEGIN
        SELECT 
            CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS guest_name,
            CASE 
                WHEN Employees.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
                WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
                WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
                WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
                ELSE 'Status Unknown'
            END AS order_status
        FROM 
            Bookings
        LEFT JOIN 
            Employees ON Bookings.EmployeeID = Employees.EmployeeID;
    END;
    """
    
    # Execute the SQL query to create the stored procedure
    cursor.execute(create_procedure_query)
    print("Stored procedure GuestStatus created successfully.")
    
    # Call the stored procedure GuestStatus
    cursor.callproc('GuestStatus')
    print("Stored procedure GuestStatus called successfully.")
    
    # Fetch the results returned by the stored procedure
    dataset = cursor.stored_results()
    
    # Extract and print the column names
    for result in dataset:
        column_names = [i[0] for i in result.description]
        print("Column names:", column_names)
        break  # We only need the column names once
    
    # Print the sorted data
    for result in dataset:
        rows = result.fetchall()
        for row in rows:
            print(row)
            
except Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_a' created successfully.
Connection obtained and cursor created successfully.
Existing stored procedure GuestStatus dropped successfully.
Stored procedure GuestStatus created successfully.
Stored procedure GuestStatus called successfully.
Column names: ['guest_name', 'order_status']
Connection closed and returned to pool.

In [59]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 1: Define your database configurations as a Python dictionary
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 2: Establish a connection pool [pool_name = pool_b] with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection pool 'pool_b' created successfully.

In [87]:
# from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 1: Define your database configurations as a Python dictionary
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Step 2: Establish a connection pool [pool_name = pool_b] with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=5, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

except Error as e:
    print(f"Error: {e}")

Connection pool 'pool_b' created successfully.

In [88]:

import time

max_retries = 3
retry_count = 0
connection3 = None
cursor3 = None

try:
    # Guest 1
    connection1 = pool_b.get_connection()
    cursor1 = connection1.cursor()
    cursor1.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (8, 'Anees', 'Java', '18:00:00', 6, 'Waiting')
    """)
    connection1.commit()

    # Guest 2
    connection2 = pool_b.get_connection()
    cursor2 = connection2.cursor()
    cursor2.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (5, 'Bald', 'Vin', '19:00:00', 6, 'Waiting')
    """)
    connection2.commit()

    # Guest 3
    connection3 = pool_b.get_connection()  # This will attempt to exceed the pool size
    cursor3 = connection3.cursor()
    cursor3.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (12, 'Jay', 'Kon', '19:30:00', 6, 'Waiting')
    """)
    connection3.commit()

except Error as e:
    print(f"Error: {e}")

finally:
    # Return the connections back to the pool
    try:
        if cursor1:
            cursor1.close()
        if connection1:
            connection1.close()

        if cursor2:
            cursor2.close()
        if connection2:
            connection2.close()

        if cursor3:
            cursor3.close()
        if connection3:
            connection3.close()  # This will raise PoolError

    except Error as e:
        print(f"Error: {e}")

In [89]:
import mysql.connector
from mysql.connector import pooling

# Set up the connection pool
pool_b = mysql.connector.pooling.MySQLConnectionPool(
    pool_name="mypool",
    pool_size=5,
    host="localhost",
    database="little_lemon_db",
    user="meta_mario",
    password="abcd1234"
)

try:
    # Task 3.1: Name and EmployeeID of the Little Lemon Manager
    connection = pool_b.get_connection()
    cursor = connection.cursor()
    cursor.execute("""
        SELECT Name, EmployeeID 
        FROM employees 
        WHERE Role = 'Manager';
    """)
    manager = cursor.fetchone()
    if manager:
        print(f"Manager: {manager[0]}, EmployeeID: {manager[1]}")
    else:
        print("No manager found.")

    # Task 3.2: Name and Role of the Employee with the Highest Salary
    cursor.execute("""
        SELECT Name, Role 
        FROM employees 
        ORDER BY Annual_Salary DESC 
        LIMIT 1;
    """)
    highest_salary_employee = cursor.fetchone()
    if highest_salary_employee:
        print(f"Highest Salary Employee: {highest_salary_employee[0]}, Role: {highest_salary_employee[1]}")
    else:
        print("No employee data found.")

    # Task 3.3: Number of Guests Booked Between 18:00 and 20:00
    cursor.execute("""
        SELECT COUNT(*) AS NumberOfGuests 
        FROM Bookings 
        WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
    """)
    number_of_guests = cursor.fetchone()[0]
    print(f"Number of Guests Booked Between 18:00 and 20:00: {number_of_guests}")

    # Task 3.4: Full Name and BookingID of Guests Waiting to be Seated
    cursor.execute("""
        SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID 
        FROM Bookings 
        WHERE Status = 'Waiting'
        ORDER BY BookingSlot ASC;
    """)
    waiting_guests = cursor.fetchall()
    print("Guests Waiting to be Seated:")
    for guest in waiting_guests:
        print(f"FullName: {guest[0]}, BookingID: {guest[1]}")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

No manager found.
No employee data found.
Number of Guests Booked Between 18:00 and 20:00: 3
Guests Waiting to be Seated:
FullName: Anees Java, BookingID: 1
FullName: Bald Vin, BookingID: 2
FullName: Jay Kon, BookingID: 3

In [90]:
try:
    # Guest 1
    connection1 = pool_b.get_connection()
    cursor1 = connection1.cursor()
    cursor1.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (8, 'Anees', 'Java', '18:00:00', 6, 'Waiting')
    """)
    connection1.commit()

    # Guest 2
    connection2 = pool_b.get_connection()
    cursor2 = connection2.cursor()
    cursor2.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (5, 'Bald', 'Vin', '19:00:00', 6, 'Waiting')
    """)
    connection2.commit()

    # Guest 3
    connection3 = pool_b.get_connection()  # This will attempt to exceed the pool size
    cursor3 = connection3.cursor()
    cursor3.execute("""
        INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID, Status)
        VALUES (12, 'Jay', 'Kon', '19:30:00', 6, 'Waiting')
    """)
    connection3.commit()

except Error as e:
    print(f"Error: {e}")

finally:
    # Return the connections back to the pool
    try:
        if cursor1:
            cursor1.close()
        if connection1:
            connection1.close()

        if cursor2:
            cursor2.close()
        if connection2:
            connection2.close()

        if cursor3:
            cursor3.close()
        if connection3:
            connection3.close()  # This will raise PoolError

    except Error as e:
        print(f"Error: {e}")

In [91]:
import mysql.connector
from mysql.connector import pooling

# Set up the connection pool
pool_b = mysql.connector.pooling.MySQLConnectionPool(
    pool_name="mypool",
    pool_size=5,
    host="localhost",
    database="little_lemon_db",
    user="meta_mario",
    password="abcd1234"
)

try:
    # Task 3.1: Name and EmployeeID of the Little Lemon Manager
    connection = pool_b.get_connection()
    cursor = connection.cursor()
    cursor.execute("""
        SELECT Name, EmployeeID 
        FROM employees 
        WHERE Role = 'Manager';
    """)
    manager = cursor.fetchone()
    if manager:
        print(f"Manager: {manager[0]}, EmployeeID: {manager[1]}")
    else:
        print("No manager found.")

    # Task 3.2: Name and Role of the Employee with the Highest Salary
    cursor.execute("""
        SELECT Name, Role 
        FROM employees 
        ORDER BY Annual_Salary DESC 
        LIMIT 1;
    """)
    highest_salary_employee = cursor.fetchone()
    if highest_salary_employee:
        print(f"Highest Salary Employee: {highest_salary_employee[0]}, Role: {highest_salary_employee[1]}")
    else:
        print("No employee data found.")

    # Task 3.3: Number of Guests Booked Between 18:00 and 20:00
    cursor.execute("""
        SELECT COUNT(*) AS NumberOfGuests 
        FROM Bookings 
        WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
    """)
    number_of_guests = cursor.fetchone()[0]
    print(f"Number of Guests Booked Between 18:00 and 20:00: {number_of_guests}")

    # Task 3.4: Full Name and BookingID of Guests Waiting to be Seated
    cursor.execute("""
        SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID 
        FROM Bookings 
        WHERE Status = 'Waiting'
        ORDER BY BookingSlot ASC;
    """)
    waiting_guests = cursor.fetchall()
    print("Guests Waiting to be Seated:")
    for guest in waiting_guests:
        print(f"FullName: {guest[0]}, BookingID: {guest[1]}")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if cursor:
        cursor.close()
    if connection:
        connection.close()

No manager found.
No employee data found.
Number of Guests Booked Between 18:00 and 20:00: 6
Guests Waiting to be Seated:
FullName: Anees Java, BookingID: 1
FullName: Anees Java, BookingID: 4
FullName: Bald Vin, BookingID: 2
FullName: Bald Vin, BookingID: 5
FullName: Jay Kon, BookingID: 3
FullName: Jay Kon, BookingID: 6

In [92]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 1: Define your database configurations and create a connection pool
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_b' with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

    # Step 2: Get a connection from the pool
    connection = pool_b.get_connection()
    cursor = connection.cursor()

    # Step 3: Create the stored procedure BasicSalesReport
    create_procedure_query = """
    CREATE PROCEDURE BasicSalesReport()
    BEGIN
        SELECT 
            SUM(BillAmount) AS Total_Sales,
            AVG(BillAmount) AS Average_Sale,
            MIN(BillAmount) AS Minimum_Bill_Paid,
            MAX(BillAmount) AS Maximum_Bill_Paid
        FROM Orders;
    END
    """
    
    # Drop the stored procedure if it already exists
    cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport")

    # Execute the query to create the stored procedure
    cursor.execute(create_procedure_query)
    print("Stored procedure BasicSalesReport created successfully.")

    # Step 4: Call the stored procedure BasicSalesReport
    cursor.callproc('BasicSalesReport')

    # Step 5: Fetch and display the results
    for result in cursor.stored_results():
        sales_report = result.fetchall()
        print("Sales Report:")
        print(f"Total Sales: {sales_report[0][0]}")
        print(f"Average Sale: {sales_report[0][1]}")
        print(f"Minimum Bill Paid: {sales_report[0][2]}")
        print(f"Maximum Bill Paid: {sales_report[0][3]}")

except Error as e:
    print(f"Error: {e}")

finally:
    # Ensure cursor and connection are closed properly
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_b' created successfully.
Stored procedure BasicSalesReport created successfully.
Sales Report:
Total Sales: None
Average Sale: None
Minimum Bill Paid: None
Maximum Bill Paid: None
Connection closed and returned to pool.

In [93]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 1: Define your database configurations and create a connection pool
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_b' with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

    # Step 2: Get a connection from the pool
    connection = pool_b.get_connection()

    # Step 3: Create a buffered cursor
    cursor = connection.cursor(buffered=True)

    # Step 4: Combine the data from the Bookings and Employee tables,
    # Sort the retrieved records in ascending order, and display the first three guests
    query = """
    SELECT 
        BookingSlot, 
        CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS Guest_name,
        CONCAT(Employees.Name, ' [', Employees.Role, ']') AS Assigned_To
    FROM 
        Bookings
    LEFT JOIN 
        Employees ON Bookings.EmployeeID = Employees.EmployeeID
    ORDER BY 
        BookingSlot ASC
    LIMIT 3
    """

    cursor.execute(query)
    upcoming_bookings = cursor.fetchall()

    # Step 5: Display the information of the first three guests
    print("Next three upcoming bookings:")
    for booking in upcoming_bookings:
        print(f"[{booking[0]}] [Guest_name: {booking[1]}] [Assigned to: {booking[2]}]")

except Error as e:
    print(f"Error: {e}")

finally:
    # Step 6: Return the connection back to the pool
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_b' created successfully.
Next three upcoming bookings:
[18:00:00] [Guest_name: Anees Java] [Assigned to: None]
[18:00:00] [Guest_name: Anees Java] [Assigned to: None]
[19:00:00] [Guest_name: Bald Vin] [Assigned to: None]
Connection closed and returned to pool.

In [95]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

# Step 0: Define your database configurations and create a connection pool
dbconfig = {
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Create a connection pool named 'pool_b' with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection pool 'pool_b' created successfully.")

    # Step 1: Get a connection from the pool and create a buffered cursor
    connection = pool_b.get_connection()
    cursor = connection.cursor(buffered=True)

    # Step 2: Query the Bookings table to examine its contents
    query = "SELECT * FROM Bookings;"
    cursor.execute(query)
    bookings = cursor.fetchall()

    print("Current bookings in the Bookings table:")
    for booking in bookings:
        print(booking)

    # Step 3: Call the ManageBooking() procedure with an available table number
    available_table_number = 1  # Example table number; adjust based on your data
    cursor.callproc('ManageBooking', [available_table_number])

    # Fetch the results returned by the stored procedure
    results = cursor.stored_results()
    print(f"Results for table number {available_table_number}:")
    for result in results:
        print(result.fetchall())

    # Step 4: Call the ManageBooking() procedure with a reserved table number
    reserved_table_number = 2  # Example of a table number that has been reserved; adjust based on your data
    cursor.callproc('ManageBooking', [reserved_table_number])

    # Fetch the results returned by the stored procedure
    results = cursor.stored_results()
    print(f"Results for table number {reserved_table_number}:")
    for result in results:
        print(result.fetchall())

except Error as e:
    print(f"Error: {e}")

finally:
    # Step 5: Return the connection back to the pool
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed and returned to pool.")

Connection pool 'pool_b' created successfully.
Current bookings in the Bookings table:
(1, 8, 'Anees', 'Java', 'Waiting', datetime.timedelta(seconds=64800), 6)
(2, 5, 'Bald', 'Vin', 'Waiting', datetime.timedelta(seconds=68400), 6)
(3, 12, 'Jay', 'Kon', 'Waiting', datetime.timedelta(seconds=70200), 6)
(4, 8, 'Anees', 'Java', 'Waiting', datetime.timedelta(seconds=64800), 6)
(5, 5, 'Bald', 'Vin', 'Waiting', datetime.timedelta(seconds=68400), 6)
(6, 12, 'Jay', 'Kon', 'Waiting', datetime.timedelta(seconds=70200), 6)
Error: 1305 (42000): PROCEDURE little_lemon_db.ManageBooking does not exist
Connection closed and returned to pool.

Connected to the database successfully.

In [3]:
from mysql.connector import connect, Error

# Define your database configuration
dbconfig = {
    "host": "localhost",  # Update with your host
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Establish a connection to the database
    connection = connect(**dbconfig)
    print("Connected to the database successfully.")

    # Create a cursor object
    cursor = connection.cursor()

    # Step 1: Create the AddBooking stored procedure
    create_procedure_sql = """
    DROP PROCEDURE IF EXISTS AddBooking;

    CREATE PROCEDURE AddBooking(
        IN guest_first_name VARCHAR(255),
        IN guest_last_name VARCHAR(255),
        IN booking_slot DATETIME,
        IN table_no INT,
        IN employee_id INT
    )
    BEGIN
        -- Insert a new booking with the given details
        INSERT INTO Bookings (GuestFirstName, GuestLastName, BookingSlot, TableNo, EmployeeID)
        VALUES (guest_first_name, guest_last_name, booking_slot, table_no, employee_id);

        -- Return a success message
        SELECT 'Booking added successfully.' AS message;
    END;
    """

    try:
        # Execute the SQL to create the procedure with multi=True
        for result in cursor.execute(create_procedure_sql, multi=True):
            pass  # Iterate through results to ensure all statements are executed
        print("Stored procedure AddBooking created successfully.")
    except Error as e:
        print(f"Error creating procedure: {e}")

except Error as e:
    print(f"Error: {e}")

try:
    # Step 2: Call the AddBooking() procedure
    add_booking_procedure = "CALL AddBooking(%s, %s, %s, %s, %s);"

    # Parameters to pass to the procedure
    booking_params = (
        "John",               # GuestFirstName
        "Doe",                # GuestLastName
        "2024-08-16 19:00",   # BookingSlot (in datetime format)
        1,                    # TableNo
        3                     # EmployeeID
    )

    # Execute the procedure
    cursor.execute(add_booking_procedure, booking_params)
    connection.commit()  # Commit the transaction if the procedure modifies data

    print("Booking added successfully.")

except Error as e:
    print(f"Error: {e}")

finally:
    # Step 3: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed.")

Connected to the database successfully.

RuntimeError: generator raised StopIteration

In [ ]:
from mysql.connector import connect, Error

# Define your database configuration
dbconfig = {
    "host": "localhost",  # Update with your host
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Establish a connection to the database
    connection = connect(**dbconfig)
    print("Connected to the database successfully.")

    # Create a cursor object
    cursor = connection.cursor()

    # Step 1: Create the AddBooking stored procedure
    create_procedure_sql = """
    DROP PROCEDURE IF EXISTS AddBooking;

    CREATE PROCEDURE AddBooking(
        IN booking_id INT,
        IN table_no INT,
        IN booking_slot DATETIME,
        IN guest_first_name VARCHAR(255),
        IN guest_last_name VARCHAR(255)
    )
    BEGIN
        -- Insert a new booking with the given details
        INSERT INTO Bookings (BookingID, TableNo, BookingSlot, GuestFirstName, GuestLastName)
        VALUES (booking_id, table_no, booking_slot, guest_first_name, guest_last_name);

        -- Return a success message
        SELECT 'Booking added successfully.' AS message;
    END;
    """

    try:
        # Execute the SQL to create the procedure with multi=True
        for result in cursor.execute(create_procedure_sql, multi=True):
            pass  # Iterate through results to ensure all statements are executed
        print("Stored procedure AddBooking created successfully.")
    except Error as e:
        print(f"Error creating procedure: {e}")

    # Step 2: Call the AddBooking() procedure
    add_booking_procedure = "CALL AddBooking(%s, %s, %s, %s, %s);"

    # Parameters to pass to the procedure
    booking_params = (
        99,                    # Booking id
        99,                    # Table number
        "2022-12-10 19:00:00", # Booking slot (in datetime format)
        "John",                # Guest first name
        "Doe"                  # Guest last name
    )

    cursor.execute(add_booking_procedure, booking_params)

    # Fetch the results (if any) returned by the procedure
    results = cursor.fetchall()

    # Print out the results
    print("Result from AddBooking():")
    for row in results:
        print(row)

    # Commit the transaction to save the new booking
    connection.commit()

except Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed.")

Connected to the database successfully.

In [4]:
from mysql.connector import connect, Error

# Define your database configuration
dbconfig = {
    "host": "localhost",  # Update with your host
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Establish a connection to the database
    connection = connect(**dbconfig)
    print("Connected to the database successfully.")

    # Create a cursor object
    cursor = connection.cursor()

    # Step 1: Create the UpdateBooking stored procedure (without DELIMITER statements)
    create_procedure_sql = """
    CREATE PROCEDURE UpdateBooking(
        IN table_no INT,
        IN booking_date DATE
    )
    BEGIN
        -- Update the booking for the specified table number and date
        UPDATE Bookings
        SET TableNo = table_no
        WHERE BookingDate = booking_date;

        -- Return a message indicating success
        SELECT 'Booking updated successfully.' AS message;
    END;
    """

    try:
        # Execute the SQL to create the procedure
        cursor.execute(create_procedure_sql)
        print("Stored procedure UpdateBooking created successfully.")
    except Error as e:
        print(f"Error creating procedure: {e}")

    # Step 2: Call the UpdateBooking() procedure with specified parameters
    update_booking_procedure = "CALL UpdateBooking(%s, %s);"

    # Parameters to pass to the procedure
    update_params = (
        99,                # Table number
        "2022-01-10"       # Booking date (in date format)
    )

    cursor.execute(update_booking_procedure, update_params)

    # Fetch the results (if any) returned by the procedure
    results = cursor.fetchall()

    # Print out the results
    print("Result from UpdateBooking():")
    for row in results:
        print(row)

    # Commit the transaction if the procedure modifies data
    connection.commit()

except Error as e:
    print(f"Error: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed.")

Connected to the database successfully.
Error creating procedure: 1304 (42000): PROCEDURE UpdateBooking already exists
Error: 1054 (42S22): Unknown column 'BookingDate' in 'where clause'
Connection closed.

In [ ]:
from mysql.connector import connect, Error

# Define your database configuration
dbconfig = {
    "host": "localhost",  # Update with your host
    "database": "little_lemon_db",
    "user": "meta_mario",
    "password": "abcd1234"
}

try:
    # Establish a connection to the database
    connection = connect(**dbconfig)
    print("Connected to the database successfully.")

    # Create a cursor object
    cursor = connection.cursor()

    # Step 1: Create the CancelBooking stored procedure
    create_procedure_sql = """
    DROP PROCEDURE IF EXISTS CancelBooking;

    CREATE PROCEDURE CancelBooking(
        IN table_no INT,
        IN booking_slot DATETIME
    )
    BEGIN
        -- Delete the booking that matches the provided TableNo and BookingSlot
        DELETE FROM Bookings
        WHERE TableNo = table_no AND BookingSlot = booking_slot;

        -- Optionally, return a success message
        SELECT 'Booking canceled successfully.' AS message;
    END;
    """

    try:
        # Execute the SQL to create the procedure with multi=True
        for result in cursor.execute(create_procedure_sql, multi=True):
            if result.with_rows:
                result.fetchall()  # Consume any possible results to avoid "Unread result" error
        print("Stored procedure CancelBooking created successfully.")
    except Error as e:
        print(f"Error creating procedure: {e}")

    # Step 2: Call the CancelBooking() procedure
    cancel_booking_procedure = "CALL CancelBooking(%s, %s);"

    # Parameters to pass to the procedure
    table_number = 99  # Table number
    booking_slot = "2024-08-16 19:00:00"  # Booking slot (datetime format)

    # Execute the procedure with the given parameters
    cursor.execute(cancel_booking_procedure, (table_number, booking_slot))

    # Fetch the results (if any) returned by the procedure
    results = cursor.fetchall()

    # Print out the results
    print("Result from CancelBooking():")
    for row in results:
        print(row)

    # Commit the transaction if the procedure modifies data
    connection.commit()

except Error as e:
    print(f"Error: {e}")

finally:
    # Step 3: Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed.")

Connected to the database successfully.